@{
    ViewData["Title"] = "O stronie";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Autor aplikacji: Romeo Rego</p>
<p>Aplikacja stworzona jako zadanie kwalifikacyjne do programu Intive Patronage 2019 - Wrocław</p>
<p>
    Aplikacja regularnie pobiera informacje o lokalizacji ISS. Aktualnie odczyty pobierane są co minutę. Odczyty zapisywane są w bazie danych aplikacji.
</p>
